/* Add to your CSS file */
.calendar {
    margin: 0;
    /* padding: 10px; */
    box-sizing: border-box;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 0.95rem;
    table-layout: fixed; /* Ensures columns fit evenly */
}

.calendar-table th{
    border: 1px solid #ccc;
    text-align: center;
    padding: 6px;
    width: 1%; /* Let table-layout: fixed handle the sizing */
    box-sizing: border-box;
    word-break: break-all;
}

.calendar-table td{
    text-align: center;
    padding: 6px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    word-break: break-all;
}

.calendar-table td > div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.calendar-table th {
    background: #f0f0f0;
}

/* CHANING BG COLOR DEPENDS ON SESSION */
.date-today      > div { color: black; border: 1px solid #67faff; } /* 0 sessions */
.date-today-1    > div { background: #23d3ff20; color: #222; border: 1px solid #67faff; } /* 1 */
.date-today-2    > div { background: #23d3ff40; color: #222; border: 1px solid #67faff; } /* 2 */
.date-today-3    > div { background: #23d3ff60; color: #222; border: 1px solid #67faff; } /* 3 */
.date-today-4    > div { background: #23d3ff80; color: #222; border: 1px solid #67faff; } /* 4 */
.date-today-5    > div { background: #23d3ffa0; color: #222; border: 1px solid #67faff; } /* 5 */
.date-today-6    > div { background: #23d3ffc0; color: #222; border: 1px solid #67faff; } /* 6 */
.date-today-7    > div { background: #23d3ffe0; color: #222; border: 1px solid #67faff; } /* 7 */
.date-today-8    > div { background: #01eeff;   color: #222; border: 1px solid #67faff; } /* 8+ */

